node_modules
dist
build
.turbo
.packages

.env
.env.local
.env.development
.env.production

.vscode
.idea

.DS_Store
thumbs.db

db_data
*.pem
package-lock.json
turbo.json

.env
.env.local
.env.development

.key
.cert
