@use "../../styles/variables" as *;

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    opacity: 0.9;
    font-style: italic;
}

.greetingTitle {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    text-align: center;
}

.username { 
    color: black;
    font-weight: bold;
}