SERVER_PORT=3000
KEY={KEY_PATH}
CERT={CERT_PATH}
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=restaurants
DB_PORT=5555
DB_HOST=localhost
CLIENT_SERVER_URL={URL}
JWT_SECRET=secret
JWT_COOKIE_NAME=token