@use "../../styles/variables" as *;

.buttonContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;

    .button {   
        background-color: $primary_color;
        cursor: pointer;
        outline: none;
        border: none;
        padding: 10px;
    }
    
    .icon {
        height: 15px;
    }   
}