@use "../../styles/variables" as *;

.fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0 0 8px 0;

    .labelContainer {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        font-size: 90%;

        .label {
            font-weight: 400;
            height: auto;
            color: #333;
            font-style: italic;
        }
    }

    .inputContainer {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid white;
        padding: 8px;
        
        .input {
            background-color: transparent;
            outline: none;
            border: none;
            width: 100%;
            color: black;
        }
    }
    
    .error {
        color: $primary-color;
        text-align: right;
        font-size: 12px;
        height: 15px;
    }
}