@use "../../styles/variables" as *;

.fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2% 0;

    .labelContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $primary-color;
        font-size: 90%;

        .label {
            font-weight: 400;
            height: auto;
            color: #333;
            font-style: italic;
        }

        .error {
            // text-align: right;
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // width: ;
        }

    }

    .inputContainer {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid white;
        padding: 8px;
        
        .input {
            background-color: transparent;
            outline: none;
            border: none;
            width: 100%;
            color: black;
        }

        .eyeIcon {
            width: 16px;
            height: 16px;
        }
    }
}